.main-flex-continer {
    height: 1000px;
    width: 100%;
    background-color: darkorchid;

}
.sub-main-container {
    height: 300px;
    width:450px;
    background-color: white;
    border-radius: 10px;
    /* padding-left: 10%; */
    margin-left: 10%;
    margin-top: 2%;
}
.sub-container-1 {
    height: 50px;
    width:40%;
    background:linear-gradient(to right,brown,green,yellow,pink);
    color:black;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 2px;
    margin-left:10% ;
    margin-top: 15px;
}
.sub-container-2 {
    height: 30px;
    width: 20%;
    background: linear-gradient(to right,red,green,blue);
    border-radius: 20px;
    margin-left: 10%;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
}
#img-clock {
    padding-top: 3%;
    padding-left: 10%;
}
h3 {
    padding: 2%;
    /* margin-top: 20px; */
}
.sub-container-3 {
    height: 80px;
    width: 20%;
    background-color:red;
    color:white;
    border-radius: 20px;
    margin-left: 31%;
    margin-top: -25px;
    /* margin-bottom: -3%; */
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding-top: 20px;
}
.clock {
    height:100px;
    width: 40%;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 55%;
    border-radius: 10px;
    box-shadow: 10px 10px -10px -10px solid grey;
    /* margin-bottom: 10%; */
    margin-top: -500px;
    animation-name: clock;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes clock {
    10%{background-color: aqua;}
    20%{background-color: blue;}
    30%{background-color: burlywood;}
    40%{background-color: chartreuse;}
    50%{background-color: coral;}
    60%{background-color: darkgreen;}
    70%{background-color: deeppink;}
    80%{background-color: darkviolet;}
    90%{background-color: mediumspringgreen;}
    100%{background-color:yellow;}

    
}
.clock div {
    background-color: white;
    height: 50px;
    width: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: black;
    border-radius: 10px;
    letter-spacing: 3px;
    
}
span {
    font-weight: bold;
    font-size: 30px;
    color: black;
}
#wake-up-img {
    padding-top: 5%;
    padding-left: 5%;
}
lable {
    margin-left: 30px;
}
select {
    width: 160px;
    margin-left: 25px;
}
#lunch-img {
    padding-top: 5%;
    padding-left: 5%;

}
#nap-img {
    padding-top: 5%;
    padding-left: 5%;
    border-left: 10px;

}
#night-img {
    padding-top: 5%;
    padding-left: 5%;
}
.sub-container-4 {
    height: 100px;
    width: 40%;
    background:linear-gradient(to right,blue,red,gold,green,pink,yellow) ;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    margin-left: 55%;
    font-style: italic;
    color: whitesmoke;
    
}
h2 {
    /* text-align: center;
    margin-top: 10%; */
    padding: 8%;
    font-size: 28px;
}
.sub-container-5 {
    margin-left: 55%;
    margin-top: -100px;
    justify-content: center;
    align-items: center;

    
}
.sub-container-2:hover {
    text-transform: capitalize;
   
    background:linear-gradient(to right,green,red,blue) ;
}

.wakeee {
    text-align: center;
    /* align-items: center; */
    margin-top: 1800px;
}
button {
    /* padding-top: 10%; */
    /* margin-top: 2%; */
    background-color: black;
    color: whitesmoke;
    border-radius: 20px;
    font-style: italic ;
    font-weight: bold;

}
button:hover {
    background: linear-gradient(to right,gold,blue,pink);
    color:red;
}
h4 {
    /* padding-top: 20%; */
    /* padding-left: 10%; */
    margin-top: 20%;
    margin-left: 10%;
}
#time {
    margin-top: 10px;
    justify-items: stretch;
}
p {
    /* padding-top: 20%; */
    /* margin-left: 10%; */
}
#alm-btn {
    margin-top: 10px;
    font-size: larger;
    font-weight: bolder;
    margin-left: 10%;
    width: 15%;
    height: 50px;
}
#my-image{
    /* margin-top: 5px; */
    margin-left: 20px;
    width: -400px;
    height: 500px;
    margin-top: 30px;


}
@media only screen and (max-width:1080px) and (min-width:601px){
    
.main-flex-continer {
    /* display: flex; */
    /* grid-template-columns: 1fr;
    grid-gap: 2em; */
    width: 200%;
    height: 1250;
    background-color: brown;
}
.sub-main-container {
    width: 50%;
    height: auto;
    margin-top: 500px;
    /* grid-column: 1;
    grid-row: 2; */

}.sub-container-1 {
    /* margin-top: 550px;
    width: %;
    height: auto; */
    height: 50px;
    width:26%;
    background:linear-gradient(to right,brown,green,yellow,pink);
    color:black;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 2px;
    margin-left:20% ;
    margin-top: 615px;

}
.alm-btn {
    margin-top: 10px;
    font-size: larger;
    font-weight: bolder;
    margin-left: 38%;
    width: 31%;
    height: 50px;
}
.clock{
    height: 58px;
    width: 68%;
    display: flex;
    align-items: center;
    margin-left: 175;
    margin-top: -691px;

}
    
}